body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #0074D9, #FFFFFF);
    flex-direction: column;


}

table {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

table th {
    padding: 8px;
    text-align: center;
}

table td {
    padding: 8px;
    text-align: left;
}
nav {
    background-color: #f2f2f2;
    padding: 10px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li {
    float: left;
    margin-right: 20px;
}
nav li:last-child {
    margin-right: 0;
}
nav a {
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    display: block;
}
nav a:hover {
    background-color: #ddd;
}
.gambar {
    width: 100px;
    /* Atur lebar gambar */
    height: auto;
    /* Biarkan tinggi mengikuti perbandingan aspek gambar */
}


.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button-reset {
    background-color: #ff0000;
    /* Warna merah */
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.container {
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }
}