body{
   

    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #0074D9, #FFFFFF);
 

}
nav {
    background-color: #f2f2f2;
    padding: 10px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li {
    float: left;
    margin-right: 20px;
}
nav li:last-child {
    margin-right: 0;
}
nav a {
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    display: block;
}
nav a:hover {
    background-color: #ddd;
}
table {
    background-color: rgb(31, 30, 30);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

table th {
    padding: 8px;
    text-align: center;
}

table td {
    padding: 8px;
    text-align: left;
}
 
.container {
    background-color: #743434;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.logout-btn {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.logout-btn:hover {
    background-color: #cc0000;
}